@page
@model projectLoXo.Pages.DangkyModel
@{
}

<div class="container" style="justify-content: center;">
    <div class="container">
        <h1 align="center" style="margin-top: 40px;">ĐĂNG KÝ</h1>
    </div>
    <div class="div-login">

        <form class="row g-3" method="post">
            <div class="col-sm-12">
                <label for="inputTendangnhap" class="form-label">Tên đăng nhập</label>
                <input type="text" class="form-control" id="inputTendangnhap" name="Tendangnhap">
            </div>
            <div class="col-sm-12">
                <label for="inputMatkhau" class="form-label">Mật khẩu</label>
                <input type="text" class="form-control" id="inputMatkhau" name="Matkhau">
            </div>
            <div class="col-sm-12">
                <label for="inputTen" class="form-label">Họ tên</label>
                <input type="text" class="form-control" id="inputTen" name="Hoten">
            </div>
            <div class="col-sm-12">
                <label for="inputDiaChi" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="inputDiaChi" name="Diachi">
            </div>
            <div class="col-sm-12">
                <label for="inputSDT" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" id="inputSDT" name="SDT">
            </div>

            <div class="col-sm-12" align="center">
                <button type="submit" class="btn btn-warning">Đăng ký</button>
            </div>
        </form>
    </div>

</div>